html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-y: scroll !important;
	overflow-x: hidden;
	min-height: 100%;
	min-width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For the "inset" look only */


/* Let's get this party started */
html::-webkit-scrollbar {
    width: 4px;
}

/* Track */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background: url('../img/debut_dark.png') #333 repeat 0 0;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
html::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.1);
}


/********************************* */
body{
	font-family: "Merriweather", Georgia, serif;
	font-size: 14px;
	line-height: 1.4em;
	text-align: left;
	min-height: 1080px;
}


body.show-menu,
body.show-menu [data-effeckt-page] {
	min-height: 500px;
}

.page-transition-animating body{
	min-height: 10000px;
}

.paper{
	border-radius: 2px;
	width: 1024px;
	min-width: 320px;
	height: 100%;
	min-height: 1080px;
	margin: auto;
	padding: 1%;
}

.paper IMG{
	max-width: 100%;
	height: auto;
}

.download-links::before,
.download-links::after,
.paper::before,
.paper::after{
	content: " ";
	cleaR: both;
	display: block;
}

@media only screen{
	body,
	html{
		background: url('../img/debut_dark.png') #333 repeat 0 0;
		background-attachment: fixed;
	}


	#resume,
	#resume body{
		background: url('../img/brushed.png') #333 repeat 0 0;
		background-attachment: fixed;
	}

	.paper{
		background: #fefefe;
		border: 1px solid #aaa;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
		margin: 0 auto 25px auto;
		padding: 3%;
	}

	#portfolio .paper{
		font-family: "Open Sans", Arial, sans-serif;
		margin: 135px auto 0 auto;
		padding: 1px 3% 25px 3%;
		border-width: 0 1px;
		border-radius: 0;
	}

	#portfolio #portfolio-index .paper{
		border-width: 0;
		background: transparent;
		box-shadow: none;
		padding: 30px 1px 0 1px;
		min-height: 100px;
	}
}

@media only screen and (max-width: 1024px){
	#resume,
	#resume body{
		background: #fff !important;
	}

	.download-links{
		background: #eee;
		border-bottom: solid 1px #aaa;
	}

	#resume .paper,
	#portfolio .paper{
		margin: 0;
		border-width: 0;
		box-shadow: none;
		width: 100%;
	}

	#portfolio .paper IMG{
		max-width: 100% !important;
		min-width: 1px;
		width: auto;
	}

	#portfolio #portfolio-index .paper{
		padding: 5px 0;
	}
}

.theme-button{
	background-image: url(../img/px_trans.png);
    background-repeat: repeat;
    background-position: 0 0;
	border: 1px solid #666;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3), inset -1px -1px 2px rgba(0,0,0,.2);
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.nav-button{
	cursor: pointer;
	transform: scale(1,1);
	transition: opacity .25s, transform .25s;
	height: 90px;
	width: 90px;
	display: block;
	opacity: .5;
	font-family: "Open Sans", Arial, sans-serif;
}

@media only screen and (max-width: 1024px){
	.nav-button{
		display: none !important;
	}
}

.nav-button:hover{
	transform: scale(1.2,1.2);
	opacity: 1;
	transition: opacity .25s, transform .25s;
}

#nav-button-left{
	position: fixed;
	top: 50%;
	top: calc(50% - 40px);
	left: 0;
	background: url('../img/arrow-left-big.png') no-repeat 50% 50%;
	background-size: 90px 90px;
}

#nav-button-left:hover{
	background-image: url('../img/arrow-left-big-shadow.png')
}

#nav-button-right{
	position: fixed;
	top: 50%;
	top: calc(50% - 40px);
	right: 0;
	background: url('../img/arrow-right-big.png') no-repeat 50% 50%;
	background-size: 90px 90px;
}

#nav-button-right:hover{
	background-image: url('../img/arrow-right-big-shadow.png');
}

#nav-button-fullscreen{
	position: fixed;
	bottom: 0;
	right: 0;
	background: url('../img/full-screen.png') no-repeat 50% 50%;
	background-size: 60px 60px;
	height: 75px;
	width: 75px;
}

#nav-button-fullscreen:hover{
	background-image: url('../img/full-screen-shadow.png');
}

#contact-details{
	font-family: "Open Sans", Arial, sans-serif;
}

#contact-details a:link,
#contact-details a:visited,
#contact-details a:active{
	color: #2079c7;
	text-decoration: none;
}

#contact-details a:hover{
	color: #111;
	text-decoration: underline;
}

.clear{
	clear: both;
}

.clear-n-margin{
	clear: both;
	margin-bottom: 1em;
}

@media only screen and (min-width: 1024px){
	.main-col{
		float: left;
		clear: left;
		width: 75%;
	}

	.side-col{
		float: right;
		clear: right;
		width: 25%;
		padding-left: 4%;
	}
}

section + section{
	margin-top: 2em;
}

section p{
	margin:0 0 1em 0;
	font-size: 12px;
	color: #555;
}

section p.links{
	text-align: right;
}

section p:last-of-type{
	margin-bottom: 0;
}

section a:link,
section a:visited{
	font-weight: bold;
	color: #666;
	text-decoration: underline;
}

.gallery{
	display: none;
	margin-bottom: -10px;
}

h1{
	font-size: 5em;
	line-height: 1em;
	font-weight: 700;
	margin-bottom: .1em;
}

@media only screen and (max-width: 599px){
	h1{
		font-size: 3em;
	}
}

h2{
	color: #2079c7;
	font-weight: 700;
	margin:2em 0 1em 0;
	font-family: "Open Sans", Arial, sans-serif;
	text-transform: uppercase;
}

h2 a:link,
h2 a:visited{
	text-decoration: none;
	color: inherit;
}

h2 a:hover{
	text-decoration: underline;
}

h3{
		font-size: 1.1em;
		font-weight: 700;
}

h3 .organization-name{
	font-weight: 700;
	display: inline-block;
	margin-right: .75em;
}

h3 .organization-location{
	font-weight: normal;
}


h3 .organization-location::after{
	content: "\2014";
	display: inline-block;
	margin: 0 .25em 0 .5em;
}

h3 .organization-title{
	font-style: italic;
	font-weight: normal;
	display: inline-block;
}

.organization-duration{
	font-family: "Open Sans", Arial, sans-serif;
	color: #555;
	font-size: .8em;
	line-height: 2.5em;
}

.organization-duration + h3{
	margin-top: .75em;
}


.download-links{
	margin: 0 auto;
	max-width: 1024px;
	padding: 25px 3%;
}

.download-links a:link,
.download-links a:visited,
.download-links a:active,
.download-links a:hover{
	font-family: "Open Sans", Arial, sans-serif;
	display: block;
	width: 33%;
	float: left;
	text-align: left;
	margin-left: 17%;
	font-size: 17px;
	line-height: 35px;
	padding-left: 40px;
	color: #000;
	text-decoration: none;
}

.download-links a:hover{
	color: #111;
	text-decoration: underline;
}

.download-links .doc{
	background: url('../img/google-doc-logo.png') no-repeat 0 50%;
	background-size: auto 35px;
}

.download-links .pdf{
	background: url('../img/adobe-pdf-logo.png') no-repeat 0 50%;
	background-size: auto 35px;
}

@media only screen and (max-width:650px){
	.download-links a{
		width: 90% !important;
		margin: 0 0 0 10% !important;
		font-size: 20px !important;
	}

	.download-links a:first-of-type{
		margin-bottom: 15px  !important;;
	}
}
